ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #cedde1;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  appearance: button;
  position: relative;
}
